ARCH=arm64
BRANCH=android-exynos-nerka-4.4
CROSS_COMPILE=aarch64-linux-android-
DEFCONFIG=e7270pro_defconfig
EXTRA_CMDS=''
KERNEL_DIR=private/exynos-slsi-cw
LINUX_GCC_CROSS_COMPILE_PREBUILTS_BIN=prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9/bin
FILES="
arch/arm64/boot/Image.gz-dtb
arch/arm64/boot/Image
vmlinux
System.map
"
