#
# EXYNOS Soc drivers
#
menuconfig SOC_SAMSUNG
	bool "SAMSUNG SOC drivers support"

if SOC_SAMSUNG
config EXYNOS_CHIPID
	bool "Exynos Chip ID Driver Support"
	depends on ARCH_EXYNOS
	select SOC_BUS

config EXYNOS_REBOOT
	bool "Exynos Chip Reboot Driver Support"
	depends on ARCH_EXYNOS

config SAMSUNG_DMADEV
	bool
	select ARM_AMBA
	select DMADEVICES
	select PL330_DMA if (ARCH_EXYNOS8 || ARCH_EXYNOS3)
	help
	  Use DMA device engine for PL330 DMAC.

config ECT
	bool "Enable Exynos Characteristic Table File"
	default n
	depends on ARCH_EXYNOS

config ECT_DUMP
	bool "Enable Exynos Characteristic Table File Dump sysfs"
	default n
	depends on ECT

config EXYNOS_HOTPLUG_GOVERNOR
	bool "Enable Exynos dynamic hotplug governor"

config EXYNOS_PM_DVS
	bool "Enable Exynos dynamic voltage setting"
	default n

config EXYNOS_OTP
	bool "Exynos OTP (one-time programmable) support"
	default n
	depends on ARCH_EXYNOS
	help
		This option enables OTP (one-time programmable) tune bits functions

config EXYNOS_PSMW_CPU_HOTPLUG
	bool "On demand polling of CPU Hotplug"
	depends on ARCH_EXYNOS
	default n
	help
	 This is an aggressive power saving feature for dynamic cpu hotplug.
	 Normally, the check routine for cpu dynamic hotplug occurs periodically.
	 However, if you enable this feature, the check routine won't occur
	 until display is updated.

config EXYNOS_ASV
	bool "ASV support for Exynos"
	default y
	help
		Support to provide ABB and ASV voltage values.

config ASV_MARGIN_TEST
	bool "Enable margin test"
	depends on EXYNOS_ASV
	default n
	help
		Support to ASV voltage margin test

config EXYNOS_PSMW
	bool "Power Saving Manager for Wearable"
	help
	  This provides aggressive power saving features for wearable devices

config EXYNOS_PSMW_CPU_HOTPLUG
	bool "On demand polling of CPU Hotplug"
	depends on EXYNOS_PSMW
	help
	  This is an aggressive power saving feature for dynamic cpu hotplug.
	  Normally, the check routine for cpu dynamic hotplug occurs periodically.
	  However, if you enable this feature, the check routine won't occur
	  until display is updated.

config EXYNOS_PSMW_DVFS
	bool "On demand polling of DVFS"
	depends on EXYNOS_PSMW
	help
	  This is an aggressive power saving feature for DVFS.
	  Normally, the check routine for DVFS occurs periodically.
	  However, if you enable this feature, the check routine won't occur
	  until display is updated.

config EXYNOS_PSMW_WORKQUEUE
	bool "On demand polling of Workqueue"
	depends on EXYNOS_PSMW
	help
	  This is an aggressive power saving feature for some workqueues.

config EXYNOS_PSMW_MEM
	bool "Dynamic DRAM policy"
	depends on EXYNOS_PSMW
	help
	  This is an aggressive power saving feature for the system memory.
	  Especially, LPDDR DRAM has some policies and modes that could be adaptively applied.

config EXYNOS_PSMW_DEBUG
	bool "Enable PSMW debug message"
	depends on EXYNOS_PSMW
	default n

choice
	prompt "Type of Periodic work"
	default DELAYED_INVOKING
	help
	  This option sets which type of workqueue shall be used for periodic execution.

config EXYNOS_PSMW_DELAYED_INVOKING
	bool "Use delayed workqueue"
	help
	  Use the INIT_DELAYED_WORK()

config EXYNOS_PSMW_DEFERRABLE_INVOKING
	bool "Use deferrable workqueue"
	help
	  Use the INIT_DEFERRABLE_WORK()
endchoice


endif #SOC_SAMSUNG
