menu "casio sw"

config MULTI_SENSORS
	tristate "Casio multi device hub driver (sensor, power, rtc, vib)"
	depends on SPI
	select FW_LOADER_USER_HELPER
	default n
	help
		this driver get and send some properties and command with sub-cpu
		include sensor value, battery status, charger status, rtc,
		enable vibration, etc...

config SUBCPU_VIBRATOR
	tristate "subcpu vibrator driver"
    depends on MULTI_SENSORS
	default n

config SUBCPU_BATTERY
	tristate "subcpu battery driver"
    depends on MULTI_SENSORS
	default n

config MEDAKA_BLUETOOTH
	bool "Medaka board bluetooth"
	default n
	help
	  Medaka board bluetooth.

config MEDAKA_GPS
	bool "Medaka board gps"
	default n
	help
	  Medaka board gps.
	  
config MEDAKA_WIFI
	bool "Medaka board wifi"
	default n
	help
	  Medaka board wifi.
endmenu
