/*
 * SAMSUNG XYREF5430 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5430.dtsi"

/ {
	model = "Samsung XYREF5430 board based on EXYNOS5430";
	compatible = "samsung,XYREF5430", "samsung,exynos5430";

	chosen {
		bootargs = "console=ttySAC2,115200 vmalloc=512M clk_ignore_unused";
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos5430-oscclk";
			clock-frequency = <24000000>;
		};
	};

	rtc {
		status = "okey";
	};

	dwmmc0@15540000 {
		status = "okay";
		num-slots = <1>;
		broken-cd;
		bypass-smu;
		supports-highspeed;
		fifo-depth = <0x80>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <0 4>;
		samsung,dw-mshc-ddr-timing = <0 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_rdqs &sd0_bus4 &sd0_bus8>;

		slot@0 {
			reg = <0>;
			bus-width = <8>;
		};
	};

	dwmmc1@15550000 {
		status = "okay";
		num-slots = <1>;
		supports-highspeed;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3>;
		samsung,dw-mshc-ddr-timing = <1 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4>;

		slot@0 {
			reg = <0>;
			bus-width = <4>;
		};
	};


	dwmmc2@15560000 {
		status = "okay";
		num-slots = <1>;
		supports-highspeed;
		fifo-depth = <0x40>;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3>;
		samsung,dw-mshc-ddr-timing = <1 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;

		slot@0 {
			reg = <0>;
			bus-width = <4>;
			disable-wp;
		};
	};

	hsi2c@14E40000 {
		samsung,hs-mode;
		clock-frequency = <2500000>;
		status = "okay";

		s2mps13_pmic@66 {
			gpios = <&gpa0 2 0xf>;
			compatible = "samsung,s2mps13-pmic";
			reg = <0x66>;
			pinctrl-names = "default";
			pinctrl-0 = <&pmic_irq>;
			wtsr_smpl = <1>;

			regulators {
				buck1_reg: BUCK1 {
					regulator-name = "vdd_mif";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck2_reg: BUCK2 {
					regulator-name = "vdd_eagle";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck3_reg: BUCK3 {
					regulator-name = "vdd_kfc";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck4_reg: BUCK4 {
					regulator-name = "vdd_int";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck5_reg: BUCK5 {
					regulator-name = "vdd_disp/cam0";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck6_reg: BUCK6 {
					regulator-name = "vdd_g3d";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck10_reg: BUCK10 {
					regulator-name = "vdd_mem2";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo5_reg: LDO5 {
					regulator-name = "vdd_ldo5";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo6_reg: LDO6 {
					regulator-name = "vdd_ldo6";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo7_reg: LDO7 {
					regulator-name = "vdd_ldo7";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo8_reg: LDO8 {
					regulator-name = "vdd_ldo8";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo9_reg: LDO9 {
					regulator-name = "vdd_ldo9";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo10_reg: LDO10 {
					regulator-name = "vdd_ldo10";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo11_reg: LDO11 {
					regulator-name = "vdd_ldo11";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo12_reg: LDO12 {
					regulator-name = "vdd_ldo12";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo13_reg: LDO13 {
					regulator-name = "vdd_ldo13";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo14_reg: LDO14 {
					regulator-name = "vdd_ldo14";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo15_reg: LDO15 {
					regulator-name = "vdd_ldo15";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo16_reg: LDO16 {
					regulator-name = "vdd_ldo16";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo17_reg: LDO17 {
					regulator-name = "vdd_ldo17";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo18_reg: LDO18 {
					regulator-name = "vdd_ldo18";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo19_reg: LDO19 {
					regulator-name = "vdd_ldo19";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo20_reg: LDO20 {
					regulator-name = "vdd_ldo20";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo21_reg: LDO21 {
					regulator-name = "vdd_ldo21";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo22_reg: LDO22 {
					regulator-name = "vdd_ldo22";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo23_reg: LDO23 {
					regulator-name = "vdd_ldo23";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo24_reg: LDO24 {
					regulator-name = "vdd_ldo24";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo25_reg: LDO25 {
					regulator-name = "vdd_ldo25";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo26_reg: LDO26 {
					regulator-name = "vdd_ldo26";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo27_reg: LDO27 {
					regulator-name = "vdd_ldo27";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo28_reg: LDO28 {
					regulator-name = "vdd_ldo28";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo29_reg: LDO29 {
					regulator-name = "vdd_ldo29";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo30_reg: LDO30 {
					regulator-name = "tsp_avdd";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo31_reg: LDO31 {
					regulator-name = "tsp_io";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo32_reg: LDO32 {
					regulator-name = "vdd_ldo32";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo33_reg: LDO33 {
					regulator-name = "vdd_ldo33";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo34_reg: LDO34 {
					regulator-name = "vdd_ldo34";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};
				ldo36_reg: LDO36 {
					regulator-name = "vdd_ldo36";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo37_reg: LDO37 {
					regulator-name = "vdd_ldo37";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};

				ldo38_reg: LDO38 {
					regulator-name = "vdd_ldo38";
					regulator-min-microvolt = <1400000>;
					regulator-max-microvolt = <3400000>;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};
			};
		};
	};

	i2c@14E10000 {
		gpios = <&gpj1 0 0 /* sda */
			 &gpj1 1 0 /* scl */
			>;
		status = "okay";
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		#size-cells = <0>;
		status = "okay";
		touchscreen@20 {
			compatible = "synaptics,rmi4";
			reg = <0x20>;
			gpios = <&gpj1 2 0xf>;
			sensor_max_x = <1079>;
			sensor_max_y = <1919>;
			max_touch_width = <28>;
			irq_type = <8200>;
			firmware_name = "tsp_synaptics/synaptics_b0_h.fw";
			fac_firmware_name = "tsp_synaptics/synaptics_b0_fac.fw";
			num_of_rx = <28>;
			num_of_tx = <16>;
			panel_revision = <8>;
		};


	};

	hsi2c_1: hsi2c@14E50000 {
		compatible = "samsung,exynos5-hsi2c";
		clock-frequency = <400000>;	/* 400KHz */
		status = "okay";
		audio_codec: codec@3e {
			compatible = "audience,es515";
			reg = <0x3E>;
			gpios = <&gpg3 4 0	/* reset */
				 &gpg3 5 0	/* wakeup */
				 &gpa0 5 0xF>;	/* interrupt */
		};
	};

	spi_0: spi@14d20000 {
		status = "disabled";
	};

	spi_1: spi@14d30000 {
		status = "disabled";
	};

	spi_2: spi@14d40000 {
		status = "disabled";
	};

	/*disp_driver*/
	decon_fb: decon_fb {
		samsung,left_margin = <1>;
		samsung,right_margin = <1>;
		samsung,upper_margin = <10>;
		samsung,lower_margin = <1>;
		samsung,hsync_len = <1>;
		samsung,vsync_len = <1>;
		samsung,xres = <1080>;
		samsung,yres = <1920>;
		samsung,virtual_x = <1080>;
		samsung,virtual_y = <1920>;
		samsung,width = <71>;
		samsung,height = <114>;
		samsung,max_bpp = <32>;
		samsung,default_bpp = <24>;

		fb_info {
			vidcon0 = <0x00>;
			vidcon1 = <0x80>;
			default_win = <0>;
		};
		fb_win_info {
			left_margin = <20>;
			right_margin = <20>;
			upper_margin = <2>;
			lower_margin = <20>;
			hsync_len = <20>;
			vsync_len = <2>;
			xres = <1080>;
			yres = <1920>;
			virtual_x = <1080>;
			virtual_y = <1920>;
			width = <71>;
			height = <114>;
			max_bpp = <32>;
			default_bpp = <24>;
		};
		fb_driver_data {
			fb_win_variant_0 {
				has_osd_c = <1>;
				has_osd_d = <1>;
				osd_size_off = <0x08>;
				palette_size = <256>;
				VALID_BPP_1248 = <1>;
				VALID_BPP_13 = <1>;
				VALID_BPP_15 = <1>;
				VALID_BPP_16 = <1>;
				VALID_BPP_18 = <1>;
				VALID_BPP_19 = <1>;
				VALID_BPP_24 = <1>;
				VALID_BPP_25 = <1>;
				VALID_BPP_32 = <1>;
			};
			fb_win_variant_1 {
				has_osd_c = <1>;
				has_osd_d = <1>;
				has_osd_alpha = <1>;
				osd_size_off = <0x0c>;
				palette_size = <256>;
				VALID_BPP_1248 = <1>;
				VALID_BPP_13 = <1>;
				VALID_BPP_15 = <1>;
				VALID_BPP_16 = <1>;
				VALID_BPP_18 = <1>;
				VALID_BPP_19 = <1>;
				VALID_BPP_24 = <1>;
				VALID_BPP_25 = <1>;
				VALID_BPP_32 = <1>;
			};
			fb_win_variant_2 {
				has_osd_c = <1>;
				has_osd_d = <1>;
				has_osd_alpha = <1>;
				osd_size_off = <0x0c>;
				palette_size = <256>;
				VALID_BPP_1248 = <1>;
				VALID_BPP_13 = <1>;
				VALID_BPP_15 = <1>;
				VALID_BPP_16 = <1>;
				VALID_BPP_18 = <1>;
				VALID_BPP_19 = <1>;
				VALID_BPP_24 = <1>;
				VALID_BPP_25 = <1>;
				VALID_BPP_32 = <1>;
			};
			fb_win_variant_3 {
				has_osd_c = <1>;
				has_osd_alpha = <1>;
				palette_size = <256>;
				VALID_BPP_1248 = <1>;
				VALID_BPP_13 = <1>;
				VALID_BPP_15 = <1>;
				VALID_BPP_16 = <1>;
				VALID_BPP_18 = <1>;
				VALID_BPP_19 = <1>;
				VALID_BPP_24 = <1>;
				VALID_BPP_25 = <1>;
				VALID_BPP_32 = <1>;
			};
			fb_win_variant_4 {
				has_osd_c = <1>;
				has_osd_alpha = <1>;
				palette_size = <256>;
				VALID_BPP_1248 = <1>;
				VALID_BPP_13 = <1>;
				VALID_BPP_15 = <1>;
				VALID_BPP_16 = <1>;
				VALID_BPP_18 = <1>;
				VALID_BPP_19 = <1>;
				VALID_BPP_24 = <1>;
				VALID_BPP_25 = <1>;
				VALID_BPP_32 = <1>;
			};
		};
	};

	mipi_dsi: mipi_dsi {
		samsung,left_margin = <20>;
		samsung,right_margin = <20>;
		samsung,upper_margin = <2>;
		samsung,lower_margin = <20>;
		samsung,hsync_len = <20>;
		samsung,vsync_len = <2>;
		samsung,xres = <1080>;
		samsung,yres = <1920>;

		gpios = <&gpf0 0 0x1>;

		/* Interface definition: 0 - DSIM_COMMAND,
					 1 - DSIM_VDEO */
		e_interface = <0>;

		/* Pixel format : 0 - DSIM_CMD_3BPP,
				  1 - DSIM_CMD_8BPP,
				  2 - DSIM_CMD_12BPP,
				  3 - DSIM_CMD_16BPP,
				  4 - DSIM_VID_16BPP_565,
				  5 - DSIM_VID_18BPP_666PACKED,
				  6 - DSIM_18BPP_666LOOSELYPACKED,
				  7 - DSIM_24BPP_888 */
		e_pixel_format = <7>;

		/* main frame fifo auto flush at VSYNC pulse */
		auto_flush = <0>;
		eot_disable = <1>;
		auto_vertical_cnt = <0>;
		hse = <0>;
		hfp = <0>;
		hbp = <0>;
		hsa = <0>;

		/* num of data lane : 0 - DSIM_DATA_LANE_1,
				      1 - DSIM_DATA_LANE_2,
				      2 - DSIM_DATA_LANE_3,
				      3 - DSIM_DATA_LANE_4 */
		e_no_data_lane = <3>;
		/* byte clock divider : 0 - DSIM_PLL_OUT_DIV8,
					1 - DSIM_EXT_CLK_DIV8,
					2 - DSIM_EXT_CLK_BYPASS */
		e_byte_clk = <0>;
		/* Burst mode : 0 - DSIM_NON_BURST_SYNC_EVENT,
				2 - DSIM_NON_BURST_SYNC_PULSE,
				1 - DSIM_BURST
				4 - DSIM_NON_VIDEO_MODE */
		e_burst_mode = <1>;
		/* PMS
		   - 1. LCD_S6E8AA0 : p - 4, m - 80, s - 2
		   - 2. LCD_S6E3FA0(COMMAND): p - 2, m - 46, s - 1
		   - 3. LCD_S6E3FA0(VIDEO): p - 4, m - 75, s - 1 */
		p = <2>;
		m = <46>;
		s = <1>;
		/* D-PHY PLL stable time spec :min = 200usec ~ max 400usec */
		pll_stable_time = <500>;
		/* escape clk : 7MHz */
		esc_clk = <7000000>;
		/* stop state holding counter after bta change count 0 ~ 0xfff */
		stop_holding_cnt = <0x0fff>;
		/* bta timeout 0 ~ 0xff */
		bta_timeout = <0xff>;
		/* lp rx timeout 0 ~ 0xffff */
		rx_timeout = <0xffff>;
	};

	usb@15400000 {
		status = "okay";
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <100>;
		button@1 {
			label = "gpio-keys: KEY_POWER";
			linux,code = <116>;
			gpios = <&gpa2 7 0xf>;
			gpio-key,wakeup = <1>;
		};
		button@2 {
			label = "gpio-keys: KEY_VOLUMEDOWN";
			linux,code = <114>;
			gpios = <&gpa2 1 0xf>;
		};
		button@3 {
			label = "gpio-keys: KEY_VOLUMEUP";
			linux,code = <115>;
			gpios = <&gpa2 0 0xf>;
		};
	};

	i2s0: i2s@11440000 {
		status = "okay";
	};

	i2s1: i2s@14D60000 {
		status = "okay";
	};

	audio_codec_dummy: dummy-codec {
		compatible = "samsung,dummy-codec";
		status = "okay";
	};

	sound {
		compatible = "samsung,xyref-es515";
		samsung,i2s-controller = <&i2s0		/* primary */
					  &i2s0		/* secondary */
					  &i2s1>;	/* hdmi */
		samsung,audio-codec = <&audio_codec
				       &audio_codec
				       &audio_codec_dummy>;
				       status = "okay";
	};
};
