/*
 * SAMSUNG XYREF5430 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5430.dtsi"

/ {
	model = "Samsung XYREF5430 board based on EXYNOS5430";
	compatible = "samsung,XYREF5430", "samsung,exynos5430";

	chosen {
		bootargs = "console=ttySAC2,115200 clk_ignore_unused";
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos5430-oscclk";
			clock-frequency = <24000000>;
		};
	};
};
