
/*
 * SAMSUNG ESPRESSO3250 board device tree source
 *
 * Copyright (c) 2014 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos3250.dtsi"


/ {
	model = "Samsung ESPRESSO3250 board based on EXYNOS3250";
	compatible = "samsung,ESPRESSO3250", "samsung,exynos3250";

	chosen {
		bootargs = "console=ttySAC2,115200 vmalloc=256M";
	};

	memory {
		reg = <0x40000000 0x20000000>;
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos3250-oscclk";
			clock-frequency = <24000000>;
		};
		half_mpll {
			compatible = "samsung,exynos3250-half_mpll";
			clock-frequency = <400000000>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		button@1 {
			label = "gpio-keys: KEY_POWER";
			linux,code = <116>;
			gpios = <&gpx2 7 0x1>;
			gpio-key,wakeup = <1>;
			debounce-interval = <0>;
		};

		button@2 {
			label = "gpio-keys: KEY_VOLUMEDOWN";
			linux,code = <114>;
			gpios = <&gpx1 7 0x1>;
			debounce-interval = <0>;
		};

		button@3 {
			label = "gpio-keys: KEY_VOLUMEUP";
			linux,code = <115>;
			gpios = <&gpx0 0 0x1>;
			debounce-interval = <0>;
		};

		button@4 {
			label = "gpio-keys: KEY_HOMEPAGE";
			linux,code = <172>;
			gpios = <&gpx0 3 0x1>;
			debounce-interval = <0>;
		};
	};

	i2c@13860000 {
		status = "okay";
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		#size-cells = <0>;
		status = "okay";

		s2mps14_pmic@66 {
			compatible = "samsung,s2mps14-pmic";
			reg = <0x66>;
			interrupts = <7 0 0>;
			interrupt-parent = <&gpx0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pmic_irq &pm_wrsti>;

			regulators {
				buck1_reg: BUCK1 {
					regulator-name = "vdd_mif";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1600000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck2_reg: BUCK2 {
					regulator-name = "vdd_arm";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1600000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck3_reg: BUCK3 {
					regulator-name = "vdd_int";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1600000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo15_reg: LDO15 {
					regulator-name = "vdd_tsp_3.3";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3375000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo16_reg: LDO16 {
					regulator-name = "vdd_lcd_3.3";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3375000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo19_reg: LDO19 {
					regulator-name = "vdd_tsp_1.8";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <2375000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};
				ldo20_reg: LDO20 {
					regulator-name = "vdd_lcd_1.8";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <2375000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};
			};
		};
	};
};
