/*
 * SAMSUNG EXYNOS8895 board device tree source
 *
 * Copyright (c) 2016 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos8895.dtsi"

/ {
	model = "Samsung SMDK8895 board based on EXYNOS8895";
	compatible = "samsung,exynos8895", "samsung,SMDK8895";

	memory@80000000 {
		device_type = "memory";

		reg = <0x0 0x80000000 0x80000000>;
	};

	chosen {
		bootargs = "earlycon=exynos,0x10430000,115200n8 console=ttySAC0,115200 root=/dev/ram0 rw ramdisk=8192 initrd=0x92000000,8M init=/linuxrc mem=1024M clk_ignore_unused ess_setup=0x86000000";
		linux,initrd-start = <0x92000000>;
		linux,initrd-end = <0x920FFFFF>;
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos8895-oscclk";
			clock-frequency = <26000000>;
		};
	};

	serial_0: uart@10430000 {
		status = "okay";
	};

};
