/*
 * SAMSUNG UNIVERSAL8890 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos7570.dtsi"

/ {
	model = "Exynos 7570 SMDK board";
	compatible = "samsung,exynos7570", "samsung,exynos4210";

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x60000000>;
	};

	chosen {
		bootargs = "earlycon=exynos,0x13820000,115200n8 console=ttySAC0,115200 clk_ignore_unused androidboot.hardware=samsungexynos7570 androidboot.selinux=disabled firmware_class.path=/vendor/firmware";
		linux,initrd-start = <0x52000000>;
		linux,initrd-end = <0x521FFFFF>;
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos7570-oscclk";
			clock-frequency = <1150000>;
		};
	};

	serial_0: uart@13820000 {
		status = "okay";
	};

	dwmmc0@13540000 {
		status = "okay";
		num-slots = <1>;
		broken-cd;
		bypass-smu;
		fixed_voltage;
		cap-mmc-highspeed;
//		clock-gate;
//		mmc-hs200-1_8v;
//		mmc-hs400-1_8v;
//		supports-hs400-enhanced-strobe;
		use-fine-tuning;
		bypass-for-allpass;
		card-init-hwacg-ctrl;
		fifo-depth = <0x40>;
		non-removable;
		card-detect-delay = <200>;
		clock-frequency = <800000000>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-txdt-crc-timer-fastlimit = <0x12>;
		samsung,dw-mshc-txdt-crc-timer-initval = <0x14>;
		samsung,dw-mshc-ddr200-delay-line = <0x50>;
		samsung,dw-mshc-sdr-timing = <3 0 4 0>;
		samsung,dw-mshc-ddr-timing = <3 0 4 2>;
		samsung,dw-mshc-hs200-timing = <3 0 3 0>;
		samsung,dw-mshc-ddr200-timing = <1 0 4 0>;
		samsung,dw-mshc-ddr200-ulp-timing = <3 0 4 0>;
		clk_pin = "gpr0-0";
		clk_addr = "13750000.pinctrl";
		num-ref-clks = <10>;
		pinctrl-names = "default";
		ciu_clkin = <25 50 50 100 200 100 50 200 200 200>;
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_rdqs &sd0_bus1 &sd0_bus4 &sd0_bus8>;
		slot@0 {
			reg = <0>;
			bus-width = <8>;
		};
	};

	ion {
		compatible = "samsung,exynos5430-ion";
	};

	decon_fb@14830000 {
		psr_mode = <0>; /* 0: video mode, 1: DP command mode, 2: MIPI command mode */
		/* vclk = 100Mhz */
		disp-vclk = <100000000>;
		/* aclk = 208Mhz */
		disp-dvfs = <208000000>;
		/* XEINT3, GPIO & pin control */
		gpios = <&gpa0 3 0xf>;
		status = "okay";
	};

	dsim_0: dsim@14800000 {
		lcd_info = <&s6e8aa0>;
		/*lcd reset */
		gpios = <&gpd2 0 0x1>;
		status = "okay";
	};

	s6e8aa0: s6e8aa0_hd {
		mode = <0>; /* 0: video mode, 1: DP command mode, 2: MIPI command mode */
		/* HD(720 x 1280) */
		panel_name = "s6e8aa0";
		resolution = <720 1280>;
		size = <71 114>;
		timing,refresh = <60>;
		/* hbp, dsim_hfp, hsa, decon_hfp */
		timing,h-porch = <0x1E 0x1E 0xA 551>;
		/* VBP, VFP, VSA */
		timing,v-porch = <0x1 0xD 0x2>;
		timing,dsi-hs-clk = <600>;
		timing,pms = <0x2 0x5C 0x1>;
		timing,dsi-escape-clk = <20>;
	};

};
